#wrapper {width:90%;margin:auto}
#header {
	background-color:pink;
	height:90px;}
#logo {
	background-color:blue;
	width:20%;
	float:left;
	}
#nav {
	background-color:red;
	width:80%;
	float:right;	
	}
#nav ul {list-style-type:none}
#nav li {float:left;}
#nav a {
		display:block;
		background-color:yellow;
		min-width:80px;
		}















